/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    padding:5px;

  }
  .video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-top: 1rem;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .search-container {
    margin-bottom: 0%;
    text-align: center;
}

.search-input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  .search-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .car-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }
  
  .car-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .car-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .car-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .car-card h2, .car-card p {
    padding: 15px;
    text-align: center;
  }
  
  .add-car-container {
    margin: 20px 0;
    text-align: center;
  }
  
  .add-car-button {
    padding: 30px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3rem;
  }
  
  .add-car-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .car-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .car-container {
      grid-template-columns: 1fr;
    }
  
    .car-card {
      max-width: 100%;
    }
  }
  